*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
    font-size: 16px;
    background: #FE5F04;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto ;
    background: #Fff;
    overflow: hidden;
}

/*inicia menu*/

header{
  background: rgb(236, 226, 226);
}

header nav{
    width: 100%;
}

header nav ul{
    width: 100%;
    overflow: hidden;
    list-style: none;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: #343434;
}

header nav ul li a:hover{
    background-color: #42403F;
    color: #Fff;
}

/*Section*/
.main{
    width: 70%;
    background: #fff;
    float: left;
}
.main .imagen{
    width: 100%;
}

.main .imagen img{
    width: 100% ;
    vertical-align: top;
}

.main .post{
    padding: 40px;
}

.main .post article h2{
    margin-bottom: 20px;
    color: #424242;
}

.main .post article p{
    margin: 15px;
    line-height: 27px;
}

/*LATERAL*/
aside{
    width: 30% ;
    background: #161f26;
    padding: 20px;
    color: #fff;
    float: left;
}

aside .widget{
    margin-bottom: 20px;
}
aside .widget .titulo{
    color: #ff8000;
    border-bottom: 1px solid #ff8000;
    margin-bottom: 10px;
}
aside .widget ul{
    list-style: none;
}

aside .widget li{
    border-bottom: 1px solid rgb(255, 255, 255 0.2);
    padding: 10px 0 ;
}

aside .widget li a{
    color: #fff;
    text-decoration: none;
}

aside .widget li a:hover{
    color: #FE5F04;
}

/*pie de pagina*/

footer{
    width: 700%;
    clear: both;
    background: #000; 
    padding: 15px 0;
}
footer p{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 15px;
    margin: 12px;
}

/*media-queris*/
@media screen and (max-width:800px) {
    .main{
        width:100%;
    }

    aside{
        width: 100%;
    }
    
}